<%- include('./layout/header.ejs') %>

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center h-100">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <img src="https://afckstechnologies.in/img/public_blue_users.png" class="img-fluid"
                        alt="Phone image">
                </div>
                <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                    <form class="d-flex flex-column align-items-center">

                        <h2>Hai <span class="text-danger">
                                <%= username %>
                            </span> </h2>
                        <h1 class="text-center">You are successfully logged in.</h1>

                        <div>
                            <% if(isAdmin){ %>
                                <button type="submit" class="btn btn-dark btn-lg btn-block p-2 mt-3 "><a
                                        href="/admin/home" class="text-white text-decoration-none">Admin</a></button>
                                <% } %>

                                    <button type="submit" class="btn btn-danger btn-lg btn-block p-2 mt-3"><a
                                            href="/logout" class="text-white text-decoration-none">logout</a></button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('./layout/footer.ejs') %>