<%- include('./layout/header.ejs') %>





    <section class="vh-100 d-flex justify-content-center align-items-center">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">



                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form action=<%=action %> method="post" id="form">


                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="username" class="form-control form-control-lg"
                                placeholder="Enter username" name="username" />
                            <label class="form-label" for="form3Example3">Username</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="email" class="form-control form-control-lg"
                                placeholder="Enter Email" name="email" />
                            <label class="form-label" for="form3Example3">Email</label>
                            <p id="empty-email" class="text-danger"></p>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <input type="password" id="password" class="form-control form-control-lg"
                                placeholder="Enter password" name="password" />
                            <label class="form-label" for="form3Example4">Password</label>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign Up</button>
                        </div>

                        <h4 class="text-center text-danger fs-6 mt-3">
                            <%= message %>
                        </h4>

                    </form>
                </div>

                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRmEZOWJJ1xm87OflIxHZM0Yv18JuTQyyJfQWWy1hMHA&usqp=CAU&ec=48665698"
                        class="img-fluid" alt="Sample image">
                </div>

            </div>
        </div>

    </section>

    <script>
        let form = document.getElementById('form');
        const email = document.getElementById('email');
        const emailRegex = /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/;

        form.addEventListener('submit', (e) => {
            e.preventDefault();

            if (!emailRegex.test(email.value)) {
                document.getElementById('empty-email').innerHTML = "Incorrect email format";
                document.getElementById('empty-email').style.display = "block";
            } else {
                document.getElementById('empty-email').innerHTML = "";
                document.getElementById('empty-email').style.display = "none";
                form.submit();
            }

        })
    </script>

    <%- include('./layout/footer.ejs') %>